html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  color: #17301c;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: #BBDE9A;
}

a {
  color: #17301c;
  text-decoration: none;
}

a:hover {
  color: #748377;
  text-decoration: underline;
}

img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

li {
  text-decoration: none;
}